@import url('https://bootswatch.com/darkly/bootstrap.min.css');

/*@import url('./bootstrap.css');*/

body{
    min-width: 285px;
}

.glyphicon-pause-circle {
    height: 70px;
    width: 70px;
    background-image: url("./../icons/pause-button.svg");
    background-position: center center;
    background-size: cover;
}

.glyphicon-double-circle {
    height: 70px;
    width: 70px;
    background-image: url("./../icons/double-circle.svg");
    background-position: center center;
    background-size: cover;
}

.glyphicon-spotify {
    height: 49px;
    width: 49px;
    background-image: url("./../icons/spotify.svg");
    background-position: center center;
    background-size: cover;
}

.glyphicon-download:before{
    content: '';
}
.glyphicon-download {
    height: 49px;
    width: 49px;
    background-image: url("./../icons/download-button.svg");
    background-position: center center;
    background-size: cover;
}

.glyphicon-favourite {
    height: 49px;
    width: 49px;
    background-image: url("./../icons/favourite-button.svg");
    background-position: center center;
    background-size: cover;
}
