.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.header-block h1 {
    margin: 0;
    flex: 6;
    font-size: 5vw;
    line-height: 9vw;
    text-align: center;
    padding-left: 16%;
}

.header-button {
    flex: 1;
}

.header-button button {
    font-size: 4vw;
}